<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form add</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
 .error{color: red}
    </style>
</head>
<body>
<h1>FORM ADD TODO</h1>
<form th:action="@{/create-todo}" method="post" th:object="${todoDTO}">
  <div class="form-group">
    <label>Content: </label>
    <input type="text"
               class="form-control" name="" id="" aria-describedby="helpId" placeholder="Input content..." th:field="*{content}" >
      <p class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
  </div>
    <div class="form-group">
        <label>Due date: </label>
        <input type="date"
               class="form-control" name="" id="" aria-describedby="helpId" placeholder="" th:field="*{dueDate}">
        <p class="error" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></p>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="form-control" name="" id="" th:field="*{status}">
            <option value="PENDING">Pending</option>
            <option value="IN_PROGRESS">In progress</option>
            <option value="DONE">Done</option>
        </select>
    </div>
    <div class="form-group">
        <label>Priority</label>
        <select class="form-control" name="" id="" th:field="*{priority}">
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a name="" id="" class="btn btn-primary" th:href="@{/}" role="button">Exit</a>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>